@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
  width: 100vw;
  font-family: "Avenir";
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}
.montreal{
  font-family: 'Montreal';
}
.heading-1{
  font-size: 5.74vw;
  font-weight: 500;
  font-family: "Montreal";
  color: #111111;
}
.white-text{
  color:#FFFFFF;
}
.blue-text{
  color: #134BD6;
}
.content{
  font-size: 1.15vw;
  font-weight: 400;
  color: #111111;
  line-height: 1.7;
}
.content-white{
  font-weight: 400;
  font-size: 1.05vw;
  line-height: 1.7;
  color: #FFFFFF;
}
.heading-2{
  font-size: 3.38vw;
  font-weight: 500;
  font-family: "Montreal";
  color: #111111;
  line-height: 1.1;
}
.container-lg{
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
}
.container-sm{
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.awards-swiper{
  overflow: visible !important;
}

.awards-swiper .swiper-button-prev , .awards-swiper .swiper-button-next{
  position: absolute;
  color: #ffffff;
  border: 2px solid white;
  border-radius: 50%;
  padding: 40px;
  top:20%;
}
.swiper-scrollbar-drag{
  background-color: #134BD6 !important;
  height: 0.3vw !important;
 
}













