@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #134BD6;
  --body: #111111;
  --font-body: "Avenir", Arial, Helvetica, sans-serif ;
}
body{
  overflow-x: hidden;
  width: 100vw;
  font-family: var(--font-body);
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: #FAFAFA;
}
.montreal{
  font-family: 'Montreal';
}
.heading-1{
  font-size: 5.74vw;
  font-weight: 500;
  font-family: "Montreal";
  color: #111111;
}
.white-text{
  color:#FFFFFF;
}
.blue-text{
  color: #134BD6;
}
.content{
  font-size: 1.15vw;
  font-weight: 400;
  color: #111111;
  line-height: 1.7;
}
.content-white{
  font-weight: 400;
  font-size: 1.05vw;
  line-height: 1.7;
  color: #FFFFFF;
}
.heading-2{
  font-size: 3.38vw;
  font-weight: 500;
  font-family: "Montreal";
  color: #111111;
  line-height: 1.1;
}
.container-lg{
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
}
.container-sm{
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

[data-para-anim],
.para-anim,
.lineWord {
  font-kerning: none;
}

[data-para-anim] .line,
.para-anim .line,
.lineWord .line {
  overflow: hidden;
  
}

.awards-swiper{
  overflow: visible !important;
}

.awards-swiper .swiper-button-prev , .awards-swiper .swiper-button-next{
  position: absolute;
  color: #ffffff;
  border: 2px solid white;
  border-radius: 50%;
  padding: 40px;
  top:20%;
}
.swiper-scrollbar-drag{
  background-color: #134BD6 !important;
  height: 0.3vw !important;
 
}
.caseStudySwiper .swiper-slide .swiper-slide-shadow{
  border-radius: 25px !important;
}



/* counter animation */
.counter,
.count,
.countnew {
  bottom: 150px;
  display: flex;
  height: 70px;
  font-size: 6vw;
}

.counter-1,
.counter-2,
.counter-3,
.counter-4,
.count-2,
.count-3,
.count-4,
.countnew-2,
.countnew-3,
.countnew-4 {
  top: -15px;
}

.glassmorphism {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.75);
}
/*--------------------Buttons CSS Start-------------------*/
.btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 10vw;
  width: 10vw;
}

.btn-white {
display: flex;
align-items: center;
justify-content: center;
width: 8vw;
height: 8vw;
/* font-family: Satoshi, Arial, Helvetica, sans-serif; */

font-weight: 500;
font-size: 1.2vw;
line-height: 1.2;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.25);
color: white;
text-transform: capitalize;
border: 1px solid white;
border-radius: 100%;
position: relative;
overflow: hidden;
transition: color 0.5s ease-out;
}

.btn-item {
  position: absolute;
}

.btn-white span {
position: absolute;
content: "";
width: 0px;
height: 0px;
left: 0;
top: 0;
color: #134bd6;
background-color: white;
z-index: -1;
border-radius: 100%;
-webkit-transition: all 0.5s;
transition: all 0.5s;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.btn-white:hover{
  color: black;
}

.btn-white:hover span {
width: 400px;
height: 400px;
}

/* screen size for mobile */
@media  screen and (max-width:540px) {
.btn_wrapper {
  height: 25vw;
  width: 25vw;
}
.btn-white {
width: 22vw;
height: 22vw;
font-size: 4vw;
}

}
/* screen size for tablet */
@media  screen and (min-width:540px) and (max-width:1023px) {
.btn_wrapper {
  height: 20vw;
  width: 20vw;
}
.btn-white {
width: 18vw;
height: 18vw;
font-weight: 500;
font-size: 3vw;
}

}
/*-----------------Buttons CSS End--------------------------*/
 /* link animation */
 .link-line {
  width: fit-content;
  position: relative;
}
.link-line::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0em;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: currentColor;
  transform-origin: right;
  transition: transform 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
  transform: scaleX(0) rotate(0.001deg);
}
.link-line:hover::after {
  transform-origin: left;
  transform: scaleX(1) rotate(0.001deg);
}




























