@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow-x: hidden;
  width: 100vw;
  font-family: "Avenir";
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}
.montreal{
  font-family: 'Montreal';
}
.heading-1{
  font-size: 5.74vw;
  font-weight: 500;
  font-family: "Montreal";
  color: #111111;
}
.white-text{
  color:#FFFFFF;
}
.blue-text{
  color: #134BD6;
}
.content{
  font-size: 1.15vw;
  font-weight: 400;
  color: #111111;
  line-height: 1.7;
}
.content-white{
  font-weight: 400;
  font-size: 1.15vw;
  line-height: 1.7;
  color: #FFFFFF;
}
.heading-2{
  font-size: 3.38vw;
  font-weight: 500;
  font-family: "Montreal";
  color: #111111;
}
.container-lg{
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.container-sm{
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.caseStudySwiper .swiper-slide-next .swiper-slide-shadow, .caseStudySwiper .swiper-slide-prev .swiper-slide-shadow{
border-radius: 25px;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-19vw * 6)); }
}

@keyframes scroll-reverse {
  0% { transform: translateX(calc(-19vw * 6)); }
  100% { transform: translateX(0); }
}

.slider, .slider2 {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before, .slider::after,
.slider2::before, .slider2::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  content: "";
  height: 100%;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider::after, .slider2::after {
  right: 0;
  top: 0;
}

.slider::before, .slider2::before {
  left: 0;
  top: 0;
}

.slide-track {
  display: flex;
  animation: scroll 20s linear infinite;
  width: calc(19vw * 12);
}

.slider2 .slide-track {
  animation: scroll-reverse 20s linear infinite;
}

.slide {
  flex: 0 0 auto;
  width: 19vw;
}
/* Flip card container */
.flip-card {
  perspective: 1000px; /* Provides the 3D space for the flip effect */
}

/* Flip card inner */
.flip-card-inner {
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* Rotate card on hover */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Front and back side styles */
.backface-hidden {
  backface-visibility: hidden;
}

/* Flip card front */
.flip-card-front {
  z-index: 2;
}

/* Flip card back */
.flip-card-back {
  transform: rotateY(180deg);
}
.casestudy-swiper .swiper-slide{
  width: 26vw !important;
}

.awards-swiper .swiper-slide{
  width: 36vw !important;
  height: 12vw !important;
}
.awards-swiper .swiper-button-prev , .awards-swiper .swiper-button-next{
  position: absolute;
  color: #ffffff;
  border: 2px solid white;
  border-radius: 50%;
  padding: 40px;
  top:20%;
}
/* .awards-swiper .swiper-button-prev{
  left: 80%;
  z-index: 3;
  top: 0%;
} */














